@import controllers.data.SongHeader
@(requestId: Int, songs: Seq[SongHeader])
@main(s"Witojcie") {
    <h3>Preview songs</h3>
    <table>
        <td class="table-header">Title</td>
        <td class="table-header">Author</td>
        @songs.map{ song =>
            <tr>
                <td>@song.title</td>
                <td>@song.author</td>
            </tr>
        }
    </table>

    <div>
        <form action="@controllers.routes.HomeController.index">
             <input type="submit" value="Cancel" />
        </form>
        <form action="@controllers.routes.HomeController.downloadSongs(requestId)">
            <input type="submit" value="Submit" />
        </form>


    </div>
}